In [9]:

from sklearn.datasets import load_boston

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [151]:
data_b=load_boston()
X = data.drop(['PRICE'], axis = 1)
y = data['PRICE']

In [152]:
data = pd.DataFrame(data_b.data)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [153]:
data.columns = data_b.feature_names
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [168]:
data['CHAS'].value_counts()

0.0    471
1.0     35
Name: CHAS, dtype: int64

In [155]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'PRICE'],
      dtype='object')

In [156]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=77)

In [157]:

from sklearn.ensemble import RandomForestRegressor
lr=RandomForestRegressor(n_estimators=200)
lr.fit(x_train,y_train)

RandomForestRegressor(n_estimators=200)

In [158]:

predicted_lr=lr.predict(x_test)

predicted_lr

array([22.8545, 15.2235, 23.7255, 31.4945, 21.7445, 18.433 , 34.622 ,
       21.6285,  8.695 , 18.931 , 14.789 , 22.984 , 21.5355, 18.923 ,
       22.2005, 24.672 , 20.9075, 26.186 , 21.3155, 29.033 , 32.034 ,
       21.2335, 18.6625, 12.4205,  9.825 , 32.6065, 34.9035, 15.111 ,
       16.4225, 26.8675, 20.3765, 30.4215, 27.5   , 14.4785, 25.943 ,
       20.782 , 20.894 , 10.4725, 20.819 , 23.289 , 19.9915, 26.775 ,
       26.9025, 40.3845, 22.871 , 34.031 , 18.9745, 13.4315, 19.414 ,
       21.78  , 23.9095, 20.676 , 20.591 , 20.289 , 22.965 , 13.7765,
       18.1755,  7.9325, 23.96  , 18.752 , 27.0845, 14.865 , 30.4155,
       46.261 , 26.4535, 18.2845, 19.445 , 16.995 , 14.7755, 10.4155,
       44.8485, 20.6075, 21.9965, 25.2335, 32.5735, 19.7635, 24.628 ,
       20.5035, 26.795 , 25.2135, 35.156 , 27.7215, 23.021 , 15.3165,
       12.2605, 19.233 , 10.0095, 13.666 , 13.3875, 19.7315,  9.088 ,
       18.7735, 46.9535, 14.4365, 16.686 , 23.782 , 47.939 , 15.9345,
       18.3175, 23.5655, 12.082 , 14.098 , 20.5215, 16.5905, 14.3885,
       34.0765, 21.454 , 21.061 , 20.256 , 23.2295, 19.4515, 46.476 ,
       17.4755, 11.949 , 16.66  , 40.796 , 44.263 , 19.529 , 20.6825,
       15.391 , 11.4495, 23.504 , 19.786 , 17.2445, 15.1255, 18.6045,
       15.751 ])

In [159]:
y_test

313    21.6
139    17.8
314    23.8
89     28.7
87     22.2
       ...
103    19.3
135    18.1
356    17.8
459    20.0
456    12.7
Name: PRICE, Length: 127, dtype: float64

In [160]:

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [161]:
mae=mean_absolute_error(y_test,predicted_lr)
mse=mean_squared_error(y_test,predicted_lr)
rmse=math.sqrt(mse)
r2=r2_score(y_test,predicted_lr)

In [162]:
mae,mse,rmse,r2

(2.1118110236220446, 8.273162661417306, 2.87631059891266, 0.8900698384453583)

In [134]:
import joblib
joblib.dump(lr,'l')